$mobile-breakpoint: 768px;

$main-bg-color: #f1f1f1;
$nav-bg-color: #393e06;
$foot-bg-color: #fafbe2;

$page-title-color: white;
$page-title-bg-color: #ccdf1c;

$menu-title-color: white;
$menu-title-bg-color: #393e06;

$menu-option-bg-color: #fafbe2;
$menu-option-border: 1px solid #cecfbc;

$card-bg-color: white;
$card-border: 1px solid black;
